@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    font-family: "Anton", san serif;
    background-color: #F0F0F0;
}
.logo {
    max-width: 105px;
    max-height: 105px;
}
.banner {
    position: absolute;
    z-index: -1;
}
h1,h2 {
    font-family: "Anton", san serif;
}

h1 {
    font-size: 64px;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 48px;
    padding-bottom: 1em;
}

h5 {
    font-family: "Abel", sans-serif;
    padding-top: 3em;

}
.circle {
    width: 100%;
    height: 100%;
}


li {
    color: white;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px white;
    width: 105px;
    height: 105px;
    list-style: none;
    margin-top: .5em;
    padding-top: 2.5em;
}
.red {
    background-color: #e6563b;
}
.orange {
    background-color: #eb9d3a;
}
.green {
    background-color: #7cb06c;
}
.blue {
    background-color: #00aba9;
}

.card-body {
    background-color: #F0F0F0;
    font-family: "Abel", sans-serif;
    padding: 0;
}

.image-border {
    border: 10px solid #e6e6e6
}

.card {
    margin: auto;
    background: transparent;
    font-family: "Abel", sans-serif;
    font-size: 20px;
}

.dots {
    color: black;
    border-radius: 50%;
    border-style: none;
    max-width: 18px;
    max-height: 18px;
    padding: 2px 7px 4px;
    font-size: 10px;
    font-family: "Anton", san serif;
    margin: 0 2px;
}
