@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: "Anton", san serif;
    background-color: #F0F0F0;
}
.logo {
    max-width: 105px;
    max-height: 105px;
}
.banner {
    position: absolute;
}